<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>password</title>

    <style>
        body {
            text-align: center;

        }

        .box {
            border: 2px solid black;
            width: 250px;
            margin: 150px auto;
            padding: 25px;
            border-radius: 10px;
            background-color: rgb(138, 167, 167);
        }

        input {
            font-size: 16px;
            padding: 4px;
            border-radius: 5px;
            border: 1px solid black;
        }

        label {
            font-weight: 800;
        }

        .btn input {
            background-color: rgb(251, 139, 99);
            font-size: 15px;
            width: 150px;
            padding: 10px 10px;
            border: 1px solid black;
            /* border-radius: 5px; */
        }

        .btn input:hover {
            background-color: coral;
        }

        span {
            color: red;
            font-size: 13px;
        }

        .one {
            margin-bottom: 20px;
        }

        #pass {
            color: red;
            font-size: 13px;
        }

        h4 {
            border-bottom: 1px solid black;
        }
    </style>

</head>

<body>
    

<!-- <if(min> 300){%>
    <p>Acess key is expired..!please click this link..</p>
    <a href="/">Register</a>
    <}else{%> -->
    <div class="box">
        <h4>Create your password</h4>
        <form action="/password" method="post" id="passform">
            <input type="hidden" value="<%=result.salt%>" id="salt" name="salt">
            <input type="hidden" value="<%=result.id%>" name="id">
            <input type="hidden" value="<%=result.access_key%>" name="accesskey">
            <div class="one">
                <label for="password"> Password :</label>
                <input type="password" name="password" id="password" placeholder="enter password" />
            </div>
            <div class="one">
                <label for="con_pass"> confrim-password:</label>
                <input type="password" name="con_pass" id="con_pass" placeholder="enter confrim password" /> <br>
                <span id="errconpass"></span>
            </div>
            <div class="btn">
                <input type="button" value="Create" onclick="passform()">
            </div>
        </form>
        <p id="pass"></p>
    </div>
    <!-- <}%> -->

    <script>

        async function passform() {
            if (validationpass() != true) {
                return false;
            }
            let formdata = document.getElementById('passform');
            let data = new FormData(formdata);
            const params = new URLSearchParams(data);

            const jobdata = await new Response(params).text();
            // console.log(typeof (jobdata));

            console.log('created password');

            let result = await fetch('http://localhost:8001/password', {
                method: 'post',
                headers: {
                    'Content-type': 'application/x-www-form-urlencoded'
                },
                body: jobdata
            });
            window.location.href = `http://localhost:8001/login`;
            return true;
        }


        function validationpass() {
            var password = document.getElementById('password').value;
            var con_pass = document.getElementById('con_pass').value;

            document.getElementById('errconpass').innerHTML = '';

            if (password === '') {
                errconpass.innerHTML = 'password is required*';
                return false;
            } else if (!/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$/.test(password)) {
                errconpass.innerHTML = 'Min 8 characters, at least 1 uppercase letter, 1 lowercase letter, 1 number and 1 special character';
                return false;
            }

            if (password !== con_pass) {
                document.getElementById('pass').innerHTML = 'passwords dont match!!';
                return false;
            }
            return true;
        }



    </script>

</body>

</html>