<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repeat Frame</title>
    <link rel="stylesheet" href="/frame.css">
</head>

<body>

    <header>
        <nav>
            <div class="container">
                <div class="navbar">
                    <div class="logo">
                        <img src="/css-task-1/assets/Logo.svg" alt="logo error">
                    </div>
                    <div class="nav-items">

                        <ul>
                            <li> <a href="#">Home</a> </li>
                            <li> <a href="#">Landing</a> </li>
                            <li> <a href="#">Pages</a> </li>
                            <li> <a href="#">Docs</a> </li>
                            <li> <a href="#">Help</a> </li>
                            <li> <input type="button" value="Get it Now"></li>
                        </ul>

                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- header_body -->

    <section class="header_body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="photo1">
                        <img src="/css-task-1/assets/Hero.png" alt=" error hero">
                    </div>
                </div>
                <div class="col">
                    <div class="text">
                        <h1>Make your new life happier.</h1>
                        <p>we work with several leading insurance companies to secure insurance coverages tailored
                            to
                            meet your needs.</p>
                        <button> Get a consultation</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- service section -->
    <section class="services">
        <div class="container">
            <div class="ser_vices">
                <div class="servicebox1">
                    <div class="servicetextgrp">
                        <h6>OUR SERVICES</h6>
                        <h2>Insurance made simple for you </h2>
                        <p>We work with several leading insurance companies to secure insurance </p>
                        <p>coverages tailored to
                            meet your needs.</p>
                    </div>
                    <div class="points">
                        <div class="ser_point">
                            <div class="one">
                                <p>Flexible products to make your life easier</p>
                            </div>
                        </div>
                        <div class="ser_point">
                            <div class="one">
                                <p>Hightest standards of services </p>
                            </div>
                        </div>
                        <div class="ser_point">
                            <div class="one">
                                <p>Fast and reliable services</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="servicebox2">
                    <div class="define">
                        <div class="de_box2">
                            <div class="card">
                                <div class="icon">
                                    <img src="/css-task-1/assets/Icon_Home.svg" alt=" error home">
                                </div>
                                <div class="two">
                                    <h3>Home insurance</h3>
                                    <p>Home insurance is a type of insurance policy that provides cover for your home.
                                    </p>
                                    <span> <a href="#"> Learn more -> </a></span>
                                </div>
                            </div>
                        </div>

                        <div class="de_box2">
                            <div class="card">
                                <div class="icon">
                                    <img src="/css-task-1/assets/Icon_Blood_Donation.svg" alt="error life">
                                </div>
                                <div class="two">
                                    <h3>Life insurance</h3>
                                    <p>Helping you bridge gaps in your health care coverages during times of transition.
                                    </p>
                                    <span> <a href="#"> Learn more -> </a></span>
                                </div>
                            </div>
                        </div>

                        <div class="de_box2">
                            <div class="card">
                                <div class="icon">
                                    <img src="/css-task-1/assets/Icon_Car.svg" alt="error car">
                                </div>
                                <div class="two">
                                    <h3>Car insurance</h3>
                                    <p>Car insurance is a type of insurance policy that provides cover for your car.</p>
                                    <span> <a href="#"> Learn more -> </a></span>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <!--  -->
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- our tips for you............... -->

    <section class="our_tips">
        <div class="container">
            <div class="tips">
                <div class="tip_text">
                    <h6>OUR TIPS FOR YOU</h6>
                    <h2>Reinventing your protection </h2>
                    <p>We share comman trends, strategies ideas,opinions,short & long </p>
                    <p>
                        stories from the team behind
                        company.</p>
                </div>
                <div class="tip_photos">
                    <div class="tip_photos1">
                        <div class="tip_img1">
                            <h2>How to prevent and protect your family from carbon monoxide</h2>
                        </div>
                    </div>

                    <div class="tip_photos1">
                        <div class="tip_img2">

                            <h2>motherhood is the hardest and the best job ever </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- your benifits -->
    <section class="your_benifits">
        <div class="container">
            <div class="benifits">
                <div class="benifit_wrap">
                    <div class="benifit_cols">
                        <div class="benifit_cards">
                            <div class="three">
                                <h6>YOUR BENIFITS</h6>
                                <h3>We're your right </h3>
                                <h3> insurance advocate</h3>
                            </div>
                        </div>
                    </div>
                    <div class="benifit_cols">
                        <div class="benifit_cards">
                            <div class="b_icon">
                                <img src="/css-task-1/assets/Donation.svg" alt="error-donation">
                            </div>
                            <div class="four">
                                <h5>We have the best prices</h5>
                                <p> our insurance plans offers are priced the same everywhere else.we just make
                                    them
                                    easier for you to find. </p>
                            </div>
                        </div>
                    </div>
                    <div class="benifit_cols">
                        <div class="benifit_cards">
                            <div class="b_icon">
                                <img src="/css-task-1/assets/Icon_Protection.svg" alt="error">
                            </div>
                            <div class="four">
                                <h5>We're your insurance advocate</h5>
                                <p>we will deal with the insurance </p>
                                <p> companies for you , eben after you've </p>
                                <p> bought your
                                    plan.</p>
                            </div>
                        </div>
                    </div>
                    <div class="benifit_cols">
                        <div class="benifit_cards">
                            <div class="b_icon">
                                <img src="/css-task-1/assets/Icon_Neutron.svg" alt="error">
                            </div>
                            <div class="four">
                                <h5>We're unbiased</h5>
                                <p>our online tools help you to deside what</p>
                                <p>product is best for you.we are here to </p>
                                <p>
                                    insurance plan you choose.</p>
                            </div>
                        </div>
                    </div>
                    <div class="benifit_cols">
                        <div class="benifit_cards">
                            <div class="b_icon">
                                <img src="/css-task-1/assets/Icon_CS.svg" alt="error">
                            </div>
                            <div class="four">
                                <h5>We're availabe for 24/7</h5>
                                <p> we have your back 24/7 between our </p>
                                <p> online chat function,,email and </p>
                                <p>
                                    telephone
                                    support.</p>
                            </div>
                        </div>
                    </div>
                    <div class="benifit_cols">
                        <div class="benifit_cards">
                            <div class="b_icon">
                                <img src="/css-task-1/assets/Icon_Like.svg" alt="error like">
                            </div>
                            <div class="four">
                                <h5>We make insurance simple</h5>
                                <p>we're commited to making applying for </p>
                                <p>insuranceas simple as can be for our</p>
                                <p> customers.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- your ratings -->

    <section class="your_rating">
        <div class="container">
            <div class="rating">
                <div class="rating_section">
                    <div class="rat_one">
                        <div class="rat_card">
                            <div class="rat_img">
                                <img src="/css-task-1/assets/Avatar-2.png" alt="">
                                <img src="/css-task-1/assets/Avatar-1.png" alt="">
                                <img src="/css-task-1/assets/Avatar.png" alt="">
                            </div>
                            <div class="rat_text">
                                <p><span>Freindly</span> customer support team</p>
                            </div>
                        </div>
                    </div>
                    <div class="rat_one">
                        <div class="rat_img2">
                            <img src="/css-task-1/assets/Path.svg" alt=""><b>Trustpiolt</b>
                        </div>
                        <div class="stars">
                            <img src="/css-task-1/assets/s.svg" alt="">
                            <img src="/css-task-1/assets/s.svg" alt="">
                            <img src="/css-task-1/assets/s.svg" alt="">
                            <img src="/css-task-1/assets/s.svg" alt="">
                            <img src="/css-task-1/assets/s.svg" alt="">

                        </div>
                        <div class="star_text">
                            <p><span>4.6 out of 5 starts</span> from 8.6k reviews</p>
                        </div>
                    </div>
                    <div class="rat_one">
                        <div class="rat_img3">
                            <img src="/css-task-1/assets/Icon_Like.svg" alt="">
                        </div>
                        <div class="rat_text3">
                            <p>We're making <span>insuranceas as </span> </p>
                            <p><span> simple as</span> can be</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer.............. -->

    <footer>
        <div class="container">
            <div class="footer">
                <div class="part1">
                    <div class="footerlogo">
                        <img src="/css-task-1/assets/Logo_white.svg" alt="">
                    </div>
                    <div class="f_text">
                        <p>Build a morden and </p>
                        <p> creative website with crealand</p>
                    </div>
                </div>
                <div class="part2">
                    <div class="sec_text">
                        <h2>Ready to get insured? Submit your request and hear back as soon as tomorrow</h2>
                    </div>
                    <div class="footer_card">
                        <input type="text" name="email" id="email" placeholder="your email">
                        <button>Get started</button>
                    </div>
                    <div class="footer_p">
                        <p>Copyright @ 2019. Crafted with love.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>