<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
            text-align: center;
        }

        p {
            text-align: center;
            font-size: 20px;
        }

        table {
            margin: 60px 585px;
            border: 1px solid black;
            border-collapse: collapse;

        }

        td {
            height: 50px;
            width: 50px;
            text-align: center;
            border: 1px solid black;
            font-size: 25px;
        }
    </style>

</head>

<body>
    <table>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <div class="btn">
        <input type="button" id="playagain" name="playagain" value="playagain">
    </div>
    <script>

        turn = "O";

        table = document.getElementsByTagName('table');
        td = table[0].getElementsByTagName('td');


        for (let i = 0; i < td.length; i++) {
            console.log(td[i]);
            td[i].addEventListener('click',
                function () {
                    if (turn === 'O') {
                        if (!td[i].innerHTML) {
                            td[i].innerHTML = "O";
                            turn = 'X';
                            checkwinner('O');
                        }
                    } else {
                        if (!td[i].innerHTML) {
                            td[i].innerHTML = 'X';
                            turn = 'O';
                            checkwinner('X');
                        }
                    }
                })
        }

        function checkwinner(turn) {
            if ((td[0].innerHTML === turn && td[1].innerHTML === turn && td[2].innerHTML === turn) ||
                (td[3].innerHTML === turn && td[4].innerHTML === turn && td[5].innerHTML === turn) ||
                (td[6].innerHTML === turn && td[7].innerHTML === turn && td[8].innerHTML === turn) ||
                (td[0].innerHTML === turn && td[3].innerHTML === turn && td[6].innerHTML === turn) ||
                (td[1].innerHTML === turn && td[4].innerHTML === turn && td[7].innerHTML === turn) ||
                (td[2].innerHTML === turn && td[5].innerHTML === turn && td[8].innerHTML === turn) ||
                (td[0].innerHTML === turn && td[4].innerHTML === turn && td[8].innerHTML === turn) ||
                (td[2].innerHTML === turn && td[4].innerHTML === turn && td[6].innerHTML === turn)) {
                if (turn == 'O') {
                    show('O');
                } else {
                    show('X');
                }
            } else {
                var check = false;
                for (i = 0; i < td.length; i++) {
                    if (!td[i].innerHTML) {
                        check = true;
                    }
                }
                if (check === false) {
                    show('draw')
                }
            }
        }


        function show(value) {
            if (value == 'O') {
                win = 'Winner is : O'
            } else if (value == 'X') {
                win = 'Winner is : X'
            } else {
                win = 'Match Draw!'
            }

            document.getElementsByTagName('body')[0].innerHTML = `<h3 style=" text-align: center;"> ${win} </h3>`
            const button = document.createElement('button');
            button.innerHTML = 'Play Again';
            button.addEventListener('click',
                function () {
                    window.location.reload();
                })
            document.body.appendChild(button);
        }

        document.getElementById('playagain').addEventListener('click', function () {
            window.location.reload();
        })

    </script>

</body>

</html>