<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task-3</title>
    <link rel="stylesheet" href="/task3.css">
</head>

<body>

    <header>
        <nav>
            <div class="container">
                <div class="navbar">
                    <div class="logo">
                        <img src="/css-task-3/assets/HireX_black.png" alt="error logo">
                    </div>
                    <div class="nav-items">
                        <ul>
                            <li><a href="#">Works</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Blogs</a></li>
                            <li><a href="#">FAQS</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#" class="h_btn">We're Hiring -></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section class="header_section">
        <div class="container">
            <div class="h_row">
                <div class="h_col">
                    <div class="h_text">
                        <div class="highlight">
                            <span>WELCOME TO HIREX.</span>
                            <img src="/css-task-3/assets/Star 1.png" alt="">
                        </div>
                        <h1>Award Winning Digital Agency.</h1>
                        <p>Digital Agency offering unique solutions to create digital presence and increase your sales.
                        </p>
                    </div>
                    <div class="form">
                        <input type="text" name="email" id="email" placeholder=" Your email address" required><input
                            type="submit" value="Request access" id="submit">
                    </div>
                    <div class="open">
                        <p>Open account and get 5 boxes</p>
                    </div>
                </div>
                <div class="h_col">
                    <div class="circle">
                        <div class="web">
                            <p>Web Design</p>
                        </div>
                        <div class="orange">
                            <img src="/css-task-3/assets/image 2 (Traced).png" alt="">
                        </div>
                    </div>
                    <div class="rectangle">
                        <div class="social">
                            Social Media
                        </div>
                        <div class="yellow">
                            <img src="/css-task-3/assets/image 6 (Traced).png" alt="">
                        </div>
                    </div>
                    <div class="square">
                        <div class="uix">
                            <p>UIX Design</p>
                        </div>
                        <div class="green">
                            <img src="/css-task-3/assets/image 1 (Traced).png" alt="">
                        </div>
                    </div>
                    <div class="new">
                        <div class="group">
                            <img src="/css-task-3/assets/Group 6.png" alt="">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="access">
        <div class="container">
            <div class="get">
                <marquee behavior="" direction="">
                    <h1> GET ACCESS NOW!
                        <img src="/css-task-3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                        <img src="/css-task-3/assets/Line 4.png" alt="" class="line">

                        GET ACCESS NOW!
                        <img src="/css-task-3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                        <img src="/css-task-3/assets/Line 4.png" alt="" class="line">

                        GET ACCESS NOW!
                        <img src="/css-task-3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                        <img src="/css-task-3/assets/Line 4.png" alt="" class="line">

                        GET ACCESS NOW!
                        <img src="/css-task-3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                        <img src="/css-task-3/assets/Line 4.png" alt="" class="line">
                    </h1>
                </marquee>
            </div>
        </div>
    </section>

    <section class="services">
        <div class="container">
            <div class="work_text">
                <div class="serv">
                    <h3>services</h3>
                </div>
                <span>How Hirex.Work</span>
                <p>The awesome people who makes</p>
                <p>all this possible </p>
            </div>
            <div class="work_photos">
                <div class="card_row">
                    <div class="card_col">
                        <div class="start_card">
                            <div class="start">
                                <p>START HERE</p>
                            </div>
                            <div class="text_here">
                                <p>Who we are &</p>
                                <p>what we do</p>
                            </div>
                            <div class="start_img">
                                <img src="/css-task-3/assets/Designer _Flatline 1.png" alt="">
                            </div>
                            <div class="start_btn">
                                <button>START HERE -></button>
                            </div>
                        </div>
                    </div>
                    <div class="card_col">
                        <div class="design_card">
                            <div class="design">
                                <p>CUSTOM DESIGN</p>
                            </div>
                            <div class="text_here">
                                <p>We'll design</p>
                                <p>your projects</p>
                            </div>
                            <div class="design_img">
                                <img src="/css-task-3/assets/Notifications_Flatline 1.png" alt="">
                            </div>
                            <div class="design_btn">
                                <button>START HERE -></button>
                            </div>
                        </div>
                    </div>
                    <div class="card_col">
                        <div class="contact_card">
                            <div class="contact">
                                <p>CONTACT US </p>
                            </div>
                            <div class="text_here">
                                <p>Drop us your</p>
                                <p>message!</p>
                            </div>
                            <div class="contact_img">
                                <img src="/css-task-3/assets/Fortnite_Two Color 1.png" alt="">
                            </div>
                            <div class="contact_btn">
                                <button>START HERE -></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </section>

    <section class="works">
        <div class="container">
            <div class="w_text">
                <div class="w_heading">
                    <h3>Works</h3>
                </div>
                <span>Find our latetest works</span>
                <p>The awesome people who makes</p>
                <p>all this possible </p>
            </div>

                <div class="w_photos">
                    <div class="card_two">
                        <div class="col_two">
                            <img src="/css-task-3/assets/Rectangle 13.png" alt="error img">
                            <div class="webp">
                                <p>Web design</p>
                            </div>
                            <div class="webtext">
                                <h2>Website Design For Digital Agency</h2>
                                <p>Build a Unique Website with Hirex Template</p>
                            </div>
                            <div class="read">
                                <a href="#">Read more -></a>
                            </div>
                        </div>
                        <div class="col_two">
                            <img src="/css-task-3/assets/Rectangle 13-1.png" alt="error img">
                            <div class="webp">
                                <p>3D Design</p>
                            </div>
                            <div class="webtext">
                                <h2>Realistic 3d Model of Living Room</h2>
                                <p>Build a Unique Website with Hirex Template</p>
                            </div>
                            <div class="read">
                                <a href="#">Read more -></a>
                            </div>
                            <div class="viewbtn">
                                <button>View All-></button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </section>
                
                <section class="planspricing">
                    <div class="container">
                        <div class="plans_text">
                            <div class="plans_heading">
                                <h3>Plans & Pricing </h3>
                            </div>
                            <p>The awesome people who makes</p>
                            <p>all this possible </p>
                        </div>
                
                        <div class="plansrule">
                            <div class="plansrow">
                                <div class="planscol">
                                    <div class="pricing">
                                        <div class="plname">
                                            <span>FREE</span>
                                        </div>
                                        <div class="dollar">
                                            <p><span>$0</span>/MONTH</p>
                                        </div>
                                        <div class="pricetext">
                                            <p>Start free while you learn more about our services</p>
                                        </div>
                                    </div>
                                    <div class="pricerule">
                                        <p>Free forever get basic essential</p>
                                        <p>Advanced security and performance</p>
                                        <p>Unlimited unhosted sites</p>
                                        <p>Live support</p>
                                    </div>
                                    <div class="freebtn">
                                        <button>GET STARTED</button>
                                    </div>
                                </div>
                
                                <div class="planscol">
                                    <div class="pricing">
                                        <div class="plname">
                                            <span>BASIC</span>
                                        </div>
                                        <div class="dollar">
                                            <p><span>$19</span>/MONTH</p>
                                        </div>
                                        <div class="pricetext">
                                            <p>Get powerfull tools to make your bussiness grow</p>
                                        </div>
                                    </div>
                                    <div class="pricerule">
                                        <p>Free forever get basic essential</p>
                                        <p>Advanced security and performance</p>
                                        <p>Unlimited unhosted sites</p>
                                        <p>Live support</p>
                                    </div>
                                    <div class="basicbtn">
                                        <button>GET STARTED</button>
                                    </div>
                                </div>
                
                                <div class="planscol">
                                    <div class="pricing">
                                        <div class="plname">
                                            <span>PRO</span>
                                        </div>
                                        <div class="dollar">
                                            <p><span>$99</span>/MONTH</p>
                                        </div>
                                        <div class="pricetext">
                                            <p>Take your bussiness to the next level with our tools</p>
                                        </div>
                                    </div>
                                    <div class="pricerule">
                                        <p>Free forever get basic essential</p>
                                        <p>Advanced security and performance</p>
                                        <p>Unlimited unhosted sites</p>
                                        <p>Live support</p>
                                    </div>
                                    <div class="probtn">
                                        <button>GET STARTED</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <section class="blog">
                    <div class="container">
                        <div class="bolg">
                            <span>blog</span>
                            <h3>Stay updated</h3>
                        </div>
                
                        <div class="card_two">
                            <div class="col_two">
                                <img src="/css-task-3/assets/Rectangle 19.png" alt="error img">
                                <div class="webp">
                                    <p>Web design</p>
                                </div>
                                <div class="webtext">
                                    <h2>We Lanch Minerva Template this Week!</h2>
                                    <p>Build a Unique Website with Hirex Template</p>
                                </div>
                                <div class="read">
                                    <a href="#">Read more -></a>
                                </div>
                            </div>
                            <div class="col_two">
                                <img src="/css-task-3/assets/Rectangle 20.png" alt="error img">
                                <div class="webp">
                                    <p>Web design</p>
                                </div>
                                <div class="webtext">
                                    <h2>Introducing the Non-Code Webflow Guide</h2>
                                    <p>Build a Unique Website with Hirex Template</p>
                                </div>
                                <div class="read">
                                    <a href="#">Read more -></a>
                                </div>
                            </div>
                        </div>
                
                
                
                
                    </div>
                </section>
                
                <section class="newsupdate">
                    <div class="container">
                        <div class="news">
                            <h2>Get our latest news & updates</h2>
                            <div class="uprows">
                                <div class="upcols">
                                    <div class="name">
                                        <p>NAME</p>
                                    </div>
                                    <div class="name">
                                        <p>EMAIL</p>
                                    </div>
                                    <div class="name">
                                        <p>SUBSCRIBE</p>
                                    </div>
                                </div>
                                <div class="upcols">
                                    <div class="update">
                                        <p>
                                            We select to practice in Minerva since it is both useful and commonsences , and our
                                            clients basically adore it
                                        </p>
                                        <div class="webp">
                                            <p>Book a Call</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="thanku">
                    <div class="visit">
                        <marquee>
                            <h1>
                                <img src="/css-task-3/assets/Line 4.png" alt="">
                                THANK YOU FOR YOUR VISIT
                                <img src="/css-task-3/assets/Group 59.png" alt="">
                                THANK YOU FOR YOUR VISIT
                                <img src="/css-task-3/assets/Line 4.png" alt="">
                                THANK YOU FOR YOUR VISIT
                                <img src="/css-task-3/assets/Group 59.png" alt="">
                                THANK YOU FOR YOUR VISIT
                                <img src="/css-task-3/assets/Group 59.png" alt="">
                                THANK YOU FOR YOUR VISIT
                                <img src="/css-task-3/assets/Group 59.png" alt="">
                                THANK YOU FOR YOUR VISIT
                            </h1>
                        </marquee>
                    </div>
                </section>


</body>

</html>